<style>
    .cell{        
        padding:5px;
         {{!-- border: 1px solid #999; --}}
    }
    .cof input:disabled{
        color: #aaaaaa
    }
    .disabled{
        color: #aaaaaa
    }
</style>
<h3 class="form-header">{{localize "COF.ui.properties"}}</h3>
<input class="field-value" name="data.key" type="hidden" value="{{data.key}}" placeholder="{{ localize "COF.ui.key" }}" data-dtype="String">
<div class="form-group stacked">
    <label>{{localize "COF.ui.properties"}}</label>
    <div class="form-fields">        
        <label class="checkbox">
            <input type="checkbox" name="data.limited" {{checked data.limited}}> {{localize "COF.ui.limited"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.spell" {{checked data.spell}}> {{localize "COF.ui.spell"}}
        </label>            
    </div>

    {{#if data.activable}}    
        
    {{/if}}

    </div>
    <h3 class="form-header">{{localize "COF.ui.effects"}}
        <div class="item-controls" style="display: inline;">
                <a class="item-control item-create capacity-effect-add" title="{{localize "COF.ui.addEffect"}}"><i class="fas fa-plus"></i>&nbsp;</a>
        </div>
    </h3> 
 {{#each data.effects as |effect key|}} 
    <div class="form-fields  flexrow flex-between">
        <div class='flex3 cell'>
            <label class="checkbox">
                <input type="checkbox" name="data.effects.{{@key}}.activable" {{checked effect.activable}}>  {{localize "COF.ui.activable"}} 
            </label>            
        </div>       
        <div class='flex3 cell'>
            <label class="checkbox {{disabled (not effect.activable)}}">
                <input type="checkbox" name="data.effects.{{@key}}.testRoll" {{checked effect.testRoll}}  {{disabled (not effect.activable)}}> {{localize "COF.ui.testRoll"}} 
            </label>
        </div>
        <div class='flex5 cell'>
            <input type="text" value="{{effect.testMod}}" name="data.effects.{{@key}}.testMod" data-dtype="String" {{disabled (or (not effect.testRoll) (not effect.activable))}} placeholder="{{localize "COF.ui.formula"}}"/>
        </div>
        <div class='flex1 cell right' >
            <a class="item-control capacity-effect-delete" title="{{localize "COF.ui.deleteEffect"}}" data-key="{{@key}}"><i class="fas fa-trash"></i>&nbsp;</a>
        </div> 
    </div>        
    <div class="form-fields  flexrow flex-between">       
          <div class='flex3 cell'>
            <label class="checkbox">
                {{localize "COF.ui.effectType"}} 
            </label>            
            <select name="data.effects.{{@key}}.type" data-type="String">
                {{#select effect.type}}
                    <option value="">{{localize "COF.None"}}</option>
                    <option value="damage">{{localize "COF.ui.damage"}}</option>
                    <option value="heal">{{localize "COF.properties.heal"}}</option>
                    <option value="buff">{{localize "COF.properties.buff"}}</option>            
                    <option value="skill">{{localize "COF.ui.skill"}}</option>            
                {{/select}}
            </select> 
        </div>        
        <div class='flex3 cell'>
            <label class="checkbox">             
                {{localize "COF.ui.ranks"}} <output id="rankOut{{@key}}">{{effect.rank}}</output>  {{localize "COF.ui.to"}} <output id="maxRankOut{{@key}}">{{effect.maxRank}}</output>
            </label>
            <div class='flexrow'>
                <input type="range" min="1" max="5" step="1" name="data.effects.{{@key}}.rank" value="{{effect.rank}}" oninput="rankOut{{@key}}.innerHTML=this.value"/>            
                <label class="flex-center">           
                {{localize "COF.ui.to"}}
                </label>
                <input type="range" min="{{effect.rank}}" max="5" step="1" name="data.effects.{{@key}}.maxRank" value="{{effect.maxRank}}"  oninput="maxRankOut{{@key}}.innerHTML=this.value"/>
            </div>
        </div>   
     
       <div class='flex6 cell'>
            <label class="checkbox">
                {{localize "COF.ui.target"}}:
            </label>
            <select name="data.effects.{{@key}}.target" data-type="String" class='flex2 cell'>
                {{#select effect.target}}
                    <option value="">{{localize "COF.None"}}</option>
                    <option value="self">{{localize "COF.ui.self"}}</option>
                    <option value="selected">{{localize "COF.ui.selected"}}</option>                
                {{/select}}
            </select> 
        </div>        
    </div>
    <div class="form-fields flexrow flex-between" style="border-bottom:1px #999 solid;padding-bottom:3px">        
        <div class='flex4 cell'>
            <label class="checkbox">
                {{localize "COF.ui.effectValueFormula"}}
            </label>
            <input type="text" value="{{effect.value}}" name="data.effects.{{@key}}.value" data-dtype="String" class='flex2 cell' placeholder="{{localize "COF.ui.formula"}}">
        </div>
        <div class='flex4 cell'>
            <label class="checkbox {{disabled ( not (equals effect.type 'buff'))}}">
                {{localize "COF.ui.buffedAttribute"}}:
            </label>
            <input type="text" value="{{effect.stat}}" name="data.effects.{{@key}}.stat" data-dtype="String" class='flex2 cell' {{disabled ( not (equals effect.type 'buff'))}}>
        </div>
    </div>

 {{/each}}
 {{!-- <div class="form-group stacked"></div>
    <select name="effect.type" data-type="String" >
        {{#select this.type}}
            <option value="damage">{{localize "COF.ui.damage"}}</option>
            <option value="heal">{{localize "COF.properties.heal"}}</option>
            <option value="buff">{{localize "COF.properties.buff"}}</option>            
        {{/select}}
    </select> 

</div>
 {{/each}} --}}
 
 {{!-- type: null,
                target: null,
                roll: null,
                stat: null,
                value: null,
                nbUses: null,
                frequency:null --}}


{{!-- <ol class="inventory-list">
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{localize "COF.ui.effects"}}</h3>
        <div class="item-detail"></div>
        <div class="item-detail item-rank">Rang</div>
        <div class="item-controls">
            <a class="item-control item-create compendium-pack" data-pack="cof.capacities" data-open="0" title="Ajouter une capacité"><i class="fas fa-plus"></i>&nbsp; Add</a>
        </div>
    </li>
    {{#each (getEmbeddedItems "capacity" data.capacities) as |capacity id|}}
    <ol class="item-list">
        <li class="item flexrow" data-item-id="{{capacity._id}}" data-item-type="capacity" data-key="{{capacity.data.key}}" draggable="true">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{capacity.img}}')"></div>
                <h4>{{capacity.name}}</h4>
            </div>
            <div class="item-detail"></div>
            <div class="item-detail item-rank">{{add id 1}}</div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    </ol>
    {{/each}}
</ol> --}}

</div>
