<h3 class="form-header">{{localize "COF.ui.properties"}}</h3>
<input class="field-value" name="data.key" type="hidden" value="{{data.key}}" placeholder="{{ localize "COF.ui.key" }}" data-dtype="String">
<div  class="form-fields">   
        <div class="form-fields flexrow">        
            <label class="checkbox flex1">
                <input type="checkbox" name="data.limited" {{checked data.limited}}> {{localize "COF.ui.limited"}}
            </label>
            <label class="checkbox flex1">
                <input type="checkbox" name="data.spell" {{checked data.spell}}> {{localize "COF.ui.spell"}}
            </label>  
            <label class="checkbox flex1">
                <input type="checkbox" name="data.isAoe" {{checked data.isAoe}}> {{localize "COF.ui.aoe"}}
            </label>            
             <div class='flex2 cellEffect'>
                <label class="checkbox">
                    {{localize "COF.ui.nbUse"}}
                </label>
                <input type="text" value="{{data.nbUse}}" name="data.nbUse" data-dtype="Number" >
            </div>  
            <div class='flex2 cellEffect'>
                <label class="checkbox">
                    {{localize "COF.ui.maxUse"}}
                </label>
                <input type="text" value="{{data.maxUse}}" name="data.maxUse" data-dtype="String"  placeholder="{{localize "COF.ui.formula"}}">
            </div>          
            <div class='flex3 cellEffect'>
                <label class="checkbox">
                    {{localize "COF.ui.frequency"}}
                </label>            
                <select name="data.frequency" data-dtype="String">
                {{#select data.frequency}}                
                    <option value="">{{localize "COF.None"}}</option>
                    <option value="round">{{localize "COF.ui.round"}}</option>
                    <option value="combat">{{localize "COF.ui.combat"}}</option>
                    <option value="day">{{localize "COF.ui.day"}}</option>                    
                {{/select}}
            </select>
            </div>
        </div>
        {{#if data.isAoe}}
        <div class="form-fields flexrow">
            <div class='flex4 cellEffect'>                
                <label class="checkbox">
                    {{localize "COF.ui.aoe"}}
                </label>
                <div class="flexrow">
                    <a class="item-control edit-aoe center flex1" title="Edit aoe" data-key="{{@key}}"><i class="fas fa-edit"></i></a>
                    <input class="flex9" type="text" value="{{data.aoe}}" readonly name="data.aoe" data-dtype="String">
                </div>
            </div>
        </div>
        {{/if}}
</div>
    <h3 class="form-header flexrow">{{localize "COF.ui.effects"}}
        <div class="item-controls right">
                <a class="item-control item-create capacity-effect-add" title="{{localize "COF.ui.addEffect"}}"><i class="fas fa-plus"></i>&nbsp;</a>
        </div>
    </h3> 
 {{#each data.effects as |effect key|}} 
    <div class="form-fields flexrow flex-between">
         <div class='flex2 cellEffect'>
            <label class="checkbox">
                {{localize "COF.ui.effectType"}} 
            </label>            
            <select name="data.effects.{{@key}}.type" data-type="String">
                {{#select effect.type}}
                    <option value="">{{localize "COF.None"}}</option>
                    <option value="damage">{{localize "COF.ui.damage"}}</option>
                    <option value="heal">{{localize "COF.properties.heal"}}</option>
                    <option value="buff">{{localize "COF.properties.buff"}}</option>            
                    <option value="skill">{{localize "COF.ui.skill"}}</option>            
                    <option value="cleanse">{{localize "COF.ui.cleanse"}}</option>
                    <option value="dot">{{localize "COF.ui.dot"}}</option>
                    <option value="hot">{{localize "COF.ui.hot"}}</option>
                {{/select}}
            </select> 
        </div>       
        <div class='flex2 cellEffect' style="display:grid">
            <label class="checkbox">
                <input type="checkbox" name="data.effects.{{@key}}.activable" {{checked effect.activable}}>  {{localize "COF.ui.activable"}} 
            </label>     
            <label class="checkbox {{disabled (not effect.activable)}}">
                <input type="checkbox" name="data.effects.{{@key}}.testRoll" {{checked effect.testRoll}}  {{disabled (not effect.activable)}}> {{localize "COF.ui.testRoll"}} 
            </label>       
        </div>    
        <div class='flex2 cellEffect' style="display:grid">
            <label class="checkbox {{disabled (not effect.activable)}}">
                <input type="checkbox" name="data.effects.{{@key}}.useDuration" {{checked (or effect.useDuration effect.duration)}} {{disabled (not effect.activable)}}> {{localize "COF.ui.duration"}} 
            </label>     
            <label class="checkbox {{disabled (not effect.activable)}}">
                <input type="checkbox" name="data.effects.{{@key}}.useResistance" {{checked (or effect.useResistance effect.resistanceFormula)}} {{disabled (not effect.activable)}}> {{localize "COF.ui.resistance"}} 
            </label>       
        </div>      
       {{#if (equals ../item.type "capacity")}}
        <div class='flex3 cellEffect'>
            
            <label class="checkbox">             
                {{localize "COF.ui.ranks"}} <output id="rankOut{{@key}}">{{effect.rank}}</output>  {{localize "COF.ui.to"}} <output id="maxRankOut{{@key}}">{{effect.maxRank}}</output>
            </label>
            <div class='flexrow'>
                <input type="range" min="1" max="5" step="1" name="data.effects.{{@key}}.rank" value="{{effect.rank}}" oninput="rankOut{{@key}}.innerHTML=this.value"/>            
                <label class="flex-center">           
                {{localize "COF.ui.to"}}
                </label>
                <input type="range" min="{{effect.rank}}" max="5" step="1" name="data.effects.{{@key}}.maxRank" value="{{effect.maxRank}}"  oninput="maxRankOut{{@key}}.innerHTML=this.value"/>
            </div>
        </div> 
        {{/if}}  
        <div class='flex1 cellEffect right' >
            <a class="item-control capacity-effect-delete" title="{{localize "COF.ui.deleteEffect"}}" data-key="{{@key}}"><i class="fas fa-trash"></i>&nbsp;</a>
        </div> 
    </div>        
    {{#if effect.testRoll}}
    <div class="form-fields  flexrow flex-between">           
        <div class="flex2 cellEffect">
            <select class="flex1" name="data.effects.{{@key}}.testDice" id="dice" data-type="String" {{disabled (or (not effect.testRoll) (not effect.activable))}}>
                {{#select effect.testDice}}
                    <option value="1d20" selected>1d20</option>
                    <option value="1d12">1d12</option>
                    <option value="2d12kh">2d12 ({{localize 'COF.ui.kh'}})</option>
                    <option value="2d20kh">2d20 ({{localize 'COF.ui.kh'}})</option>
                    <option value="2d12kl">2d12 ({{localize 'COF.ui.kl'}})</option>
                    <option value="2d20kl">2d20 ({{localize 'COF.ui.kl'}})</option>
                {{/select}}
            </select>
        </div>
        <div class='flex7 cellEffect'>
            <input type="text" value="{{effect.testMod}}" name="data.effects.{{@key}}.testMod" data-dtype="String" {{disabled (or (not effect.testRoll) (not effect.activable))}} placeholder="{{localize "COF.ui.formula"}}"/>
        </div>    
    </div>
    {{/if}}
    {{#if (and (not (equals effect.type "skill")) (not (equals effect.type "")))}}
        <div class="form-fields flexrow flex-between">        
            <div class='flex2 cellEffect'>
                <label class="checkbox">
                    {{localize "COF.ui.target"}}
                </label>
                <select name="data.effects.{{@key}}.target" data-type="String">
                    {{#select effect.target}}
                        <option value="">{{localize "COF.None"}}</option>
                        <option value="self">{{localize "COF.ui.self"}}</option>
                        <option value="selected">{{localize "COF.ui.selected"}}</option>
                        <option value="selectedMultiple">{{localize "COF.ui.selectedMultiple"}}</option>
                        <option value="allies">{{localize "COF.ui.allies"}}</option>
                        <option value="alliesSelf">{{localize "COF.ui.alliesSelf"}}</option>
                        <option value="enemies">{{localize "COF.ui.enemies"}}</option>
                        <option value="all">{{localize "COF.ui.all"}}</option>
                        <option value="melee">{{localize "COF.category.melee"}}</option>
                        <option value="ranged">{{localize "COF.category.ranged"}}</option>
                    {{/select}}
                </select> 
            </div>   
            {{#if (equals effect.type "buff")}}
            <div class='flex4 cellEffect'>
                <label class="checkbox">
                    {{localize "COF.ui.buff"}}
                </label>
                {{buffWidget effect.value @key}}
            </div>          
            {{else}}
             <div class='flex7 cellEffect'>
                <label class="checkbox">
                    {{localize "COF.ui.effectValueFormula"}}
                </label>
                <input type="text" value="{{effect.value}}" name="data.effects.{{@key}}.value" data-dtype="String"  placeholder="{{localize "COF.ui.formula"}}">
            </div>           
            {{/if}}
        </div>
       
    {{/if}}
    {{#if (or (or effect.useDuration effect.duration) (or effect.useResistance effect.resistanceFormula))}}
        <div class="form-fields flexrow flex-between">        
            {{#if (or effect.useDuration effect.duration)}}
            <div class='flex2 cellEffect'>
                <label class="checkbox">
                    {{localize "COF.ui.effectDuration"}}
                </label>
                <input type="text" value="{{effect.duration}}" name="data.effects.{{@key}}.duration" data-dtype="String"  placeholder="{{localize "COF.ui.formula"}}">        
            </div>
            {{/if}}
            {{#if (or effect.useResistance effect.resistanceFormula)}}
            <div class='flex4 cellEffect'>
                <label class="checkbox">
                    {{localize "COF.ui.resistanceRoll"}}
                </label>
                <input type="text" value="{{effect.resistanceFormula}}" name="data.effects.{{@key}}.resistanceFormula" data-dtype="String"  placeholder="{{localize "COF.ui.formula"}}">        
            </div>        
            <div class='flex2 cellEffect'>
                <label class="checkbox">
                    {{localize "COF.ui.resistanceEffect"}}
                </label>
                <input type="text" value="{{effect.resistanceEffect}}" name="data.effects.{{@key}}.resistanceEffect" data-dtype="String"  placeholder="{{localize "COF.ui.formula"}}">        
            </div>        
            {{/if}}
        </div>
    {{/if}}    
    <hr/>
 {{/each}}
</div>
