<div class="flexrow topArea">
    <div id="editDescription" style="display:none">
        <div style="padding:20px">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
        <div class="expandDescription">x</div>
    </div>
    <div id="leftPane" style="padding-top:20px">
        <div class="layout">
            <!-- STATS -->
            {{> "systems/cof/templates/actors/encounter/parts/stats/encounter-attributes.hbs"}}
            <div class="flexrow"><div class="flex1 spacer-double"></div></div>
            {{> "systems/cof/templates/actors/encounter/parts/stats/encounter-details.hbs"}}             
        </div>
    </div>
    <div id="centerPane">
        <div class="profile-img">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="border:none;width:100%"/> 
        </div>
        <div class="level-zone zone center">
            <div class="field-label" style="margin-left:-4px">{{ localize 'COF.attributes.nc.label'}}</div>
            <input class="field-value" name="data.nc.value" type="text" value="{{actor.data.nc.value}}" data-dtype="Number"/>                    
        </div>
        <div class="name-zone zone">
            <div class="deco-left">
                <img src="/systems/cof/ui/deco-left.png" style="border:none">
            </div>                    
            <div class="center name-field">
                <input class="field-value sans" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'COF.details.name' }}" data-dtype="String"/>
            </div>
            <div class="deco-right">
                <img src="/systems/cof/ui/deco-right.png" style="border:none">
            </div>
        </div>
    </div>
    <div id="rightPane">
        <div class="layout">
            <!-- ATTAQUES -->
            {{> "systems/cof/templates/actors/encounter/parts/stats/encounter-attacks.hbs"}}
            <div class="flexrow"><div class="flex1 spacer"></div></div>
            <!-- INIT -->
            {{> "systems/cof/templates/actors/encounter/parts/stats/encounter-init.hbs"}}
            <div class="flexrow"><div class="flex1 spacer"></div></div>
            {{> "systems/cof/templates/actors/encounter/parts/stats/encounter-defence.hbs"}}
        </div>
    </div>
</div>
<div>
    <div class="flexrow">
        <div class="flex2 layout">          
        {{> "systems/cof/templates/actors/encounter/parts/stats/encounter-details2.hbs"}}                 
        </div>
        <div class="flex4" style="padding: 0 10px;">
            {{> "systems/cof/templates/actors/encounter/parts/stats/encounter-vitality.hbs"}}
            <div id="descriptionContainer" style="height: 140px;margin-top: +5px;position:relative"> 
                <div class="flex small-header" style="border-bottom: 1px solid #b4b39e;">
                    <span class="field-label">{{ localize "COF.details.description" }}</span>
                </div>
                <div id="descriptionContent" style="height: 135px;">
                    {{stripStyle data.description}}
                </div> 
                <div class="expandDescription">...</div>
            </div>
        </div>
        <div class="flex2 layout center">
            <img src="systems/cof/ui/villain.png" style="border:none;width: 143px;mix-blend-mode: overlay;">
        </div>
    </div>
</div>