{{#if (equals type 'damage')}}
<div class="row flexrow table-header red">
    <div class="flex1 center">
        <h3><span class="field-label">{{ localize "COF.message.damageRoll"}}</span></h3>
    </div>
</div>
{{else}}
<div class="row flexrow table-header green">
    <div class="flex1 center">
        <h3><span class="field-label">{{ localize "COF.message.healRoll"}}</span></h3>
    </div>
</div>
{{/if}}
{{> "systems/cof/templates/dialogs/parts/roll-dmg-fields.hbs"}}
<div class="row flexrow" style="margin-bottom: 10px;">
    <div class="flex1 center bg-darkslate">
        {{#if (equals type 'damage')}}
        <span class="field-label">{{ localize "COF.message.criticalDamage"}} ?</span>
        {{else}}
        <span class="field-label">{{ localize "COF.message.criticalHeal"}} ?</span>
        {{/if}}
    </div>
    <div class="flex1 center cell">
        <input class="field-value" id="isCritical" name="isCritical" type="checkbox" {{#if isCritical}}checked{{/if}}/>
    </div>
</div>
